<!DOCTYPE html>
<html>
<body>

<p>Click the button to get your coordinates.</p>

<form action="" method="post" id='myForm2'>
    <button id="myButton2" name="button2" value=position.coords.latitude onclick="getLocation()">Send</button>
</form>
<br>
<br>
<br>
<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");
var lat=0
var lon=0

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
  lat=position.coords.latitude;
  long=position.coords.longitude;
  document.getElementById("myButton2").value=data

  window.alert()

}
</script>

</body>
</html>
